name: CD Pipeline - Deploy Orcamento

on:
  push:
    branches:
      - 'main'

permissions:
  packages: write
  contents: write

jobs:
  publish-image:
    name: Publicar Imagem Orcamento no Docker Hub
    uses: ./.github/workflows/reusable-publish-docker.yml
    secrets: inherit
    with:
      image-name: alexmarquesfa/orcamentooficina

  deploy-application:
    name: Deploy da Aplicação Orcamento no Kubernetes
    needs: [publish-image]
    uses: ./.github/workflows/reusable-deploy-k8s.yml
    with:
      image-tag: ${{ needs.publish-image.outputs.image-tag }}
      environment: producao # Or any other environment you target
      app-name: orcamento-app # Name used in Kustomize for image replacement
      k8s-overlay-path: k8s/overlays/producao # Path to the kustomize overlay for orcamento
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      EKS_CLUSTER_NAME: ${{ secrets.EKS_CLUSTER_NAME }}
      AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }} # Assuming this is generic or specific to orcamento
      RDS_URL: ${{ secrets.RDS_URL }}